.userInfo {
  display: flex;
  align-items: center;
  justify-content: space-between; // 让子元素在容器中平均分布
  width: 100%; // 让子元素填充 Header 宽度
  height: 95%;
  padding: 10px;
  // 欢迎文本样式
  .welcome {
    margin-right: 20px;
  }

  // 按钮样式
  .button {
    margin-left: 20px;
  }
}



